@font-face {
    font-family: 'beer_money';
    src: url('/assets/fonts/beer_money.eot');
    src: url('/assets/fonts/beer_money.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/beer_money.woff') format('woff'),
         url('/assets/fonts/beer_money.ttf') format('truetype');
}
body{
	background-color:#eee;
}
.row{
	background-color:#fff;
}
.header{
  font-size: 3em;
  font-family: 'beer_money', Open Sans, Calibri, Candara, Arial, sans-serif;
  color: inherit;
  text-align: center;
}
.navbar{
	font-family: 'beer_money', Open Sans, Calibri, Candara, Arial, sans-serif;
	font-size: 20px;
}

div.gruppa-media-url
{
	display: block;
	text-indent: -3.3ex;
	padding: 0px 0px 0px 20px;
	cursor: pointer;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #aaa
}

div.playing
{
	color: #000;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
}

div.playing:before
{
	content: '>';
	width: 14px;
	height: 14px;
	padding: 3px;
	line-height: 14px;
	margin: 0px;
	position: absolute;
	left: -24px;
	top: 9px;
	color: #000;
	font-size: 13px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}