@font-face {
    font-family: 'beer_money';
    src: url('/assets/fonts/beer_money.eot');
    src: url('/assets/fonts/beer_money.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/beer_money.woff') format('woff'),
         url('/assets/fonts/beer_money.ttf') format('truetype');
}
body{
	background-color:#eee;
}
.row{
	background-color:#fff;
}
.header{
  font-size: 3em;
  font-family: 'beer_money', Open Sans, Calibri, Candara, Arial, sans-serif;
  color: inherit;
  text-align: center;
}
.navbar{
	font-family: 'beer_money', Open Sans, Calibri, Candara, Arial, sans-serif;
	font-size: 20px;
}

.gruppa-media-url
{
	display: block;
	padding: 0px 0px 0px 20px;
	cursor: pointer;
	color: #555
}
.gruppa-media-url.playing
{
	color: #070;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
}
.gruppa-media-url span.span_play_button
{
	display: inline;
}
.gruppa-media-url span.span_pause_button
{
	display: none;
}
.gruppa-media-url.playing span.span_play_button
{
	display: none;
}
.gruppa-media-url.playing span.span_pause_button
{
	display: inline;
}

.btn a{
	color: #ffffff	
}


.btn a:hover{
	color: #ffffff	
}


.btn a:visited{
	color: #ffffff	
}
img {
	max-width: 100%;
}
