---
layout: default
title: Альбомы Группы
---
<h1>Альбомы</h1>

{% assign counter = 0 %}
{% assign end_div = false %}
{% for post in site.posts %}
	{% if post.categories contains 'albums' %}
		{% assign modul = counter | modulo: 3 %}
		{% if modul == 0 or forloop.first %}
			<div class="row">
			{% assign end_div = false %}
		{% endif %}
		<div class="col-md-4">
			<div class="img-thumbnail img-rounded"> 
				<center>
				<div id="counter-{{ counter }}-modul-{{ modul }}-{{ end_div }}"/>
				<a href="{{ post.url }}">
					<img src="/img/albums/preview/{{ post.image }}" width="200px"/>
					{{ post.date | date_to_string }}<br>
				</center>
					{{ post.title }}
				</a>
			</div>
		</div>
		{% assign counter = counter | plus: 1 %}
		{% if modul == 2 or forloop.last %}
			</div>
			{% assign end_div = true %}
		{% endif %}
	{% endif %}
{% endfor %}