---
layout: default
title: Песни группы
---
<script>
	audiojs.events.ready(function(){var as = audiojs.createAll();});
        // Load in a track on click
        $('div.gruppa-media-url').click(function(e)
		{
		  console.log("click");
          e.preventDefault();
          $(this).addClass('playing').siblings().removeClass('playing');
          audio.load($(this).attr('data-src'));
          audio.play();
		  var cur = "Сейчас играет:\"" + $(this).attr("alt") + "\"";
		  $("#current-song-id").html(cur);
        });
    </script>
	
<h1>Песни Песни</h1>
<h3 id="current-song-id"></h3>
<audio preload="none"></audio>
<table class="table table-hover">
<tr>
	<th>#</th>
	<th>Название</th>
	<th>Альбом</th>
	<th>Слушать</th>
	<th>Длительность</th>
</tr>
{% assign counter = 1 %}
{% assign items = site.posts | sort: 'title' %}
{% for post in items %}
	{% if post.categories contains 'songs' %}
    	<tr>
		<td>{{ counter }}</td>
		<td><a href="{{ post.url }}">{{ post.name }}</a></td>
		<td>
			{% if post.albums %}
				{% for alb in post.albums %}
					{% if alb.album and alb.album_url %}
						<a href="{{ alb.album_url }}">
							{{ alb.album }}
						</a>
					{% else %}
						-
					{% endif %}
					<br>
				{% endfor %}
			{% else %}
				-
			{% endif %}
		</td>
		<td class="gruppa-media-url-td">
			{% if post.download and post.download != '' %}
				{% for dnl in post.download %}
					<div data-src="{{ dnl.url }}" class="gruppa-media-url" alt="{{ dnl.name }}">
						{{ dnl.name }}
					</div>
					{% if forloop.last == false %}
						&nbsp;
					{% endif %}
				{% endfor %}
			{% else %}
				-
			{% endif %}
		</td>
		<td>
			{% if post.length %}
				{{ post.length }}
			{% else %}
				-
			{% endif %}
		</td>
		</tr>
		{% assign counter = counter | plus: 1 %}
	{% endif %}
{% endfor %}
</table>
<br>
<hr>
<br>
<h2>Для энтузиастов</h2>
Если захотите поковыряться в исходниках, то заходите: <a href="https://cloud.mail.ru/public/B2Ej/u15BmJFEX">ТЫЦ</a>.<br>
Песни поделены на альбомы. Отдельные композиции — это творчество Rinon Ninqueon.<br>
Учтите, что для работы вам понадобится как минимум Ardour. Из плагинов в основном Calf, Tap, Guitarix, GVST. Возможно, что-то ещё, но история это умалчивает.<br>