---
layout: default
title: Песни группы
---
<h1>Песни Песни</h1>
<table class="table table-hover">
<tr>
	<th>#</th>
	<th>Название</th>
	<th>Альбом</th>
	<th>Скачать</th>
	<th>Длительность</th>
</tr>
{% assign counter = 1 %}
{% assign items = site.posts | sort: 'title' %}
{% for post in items %}
	{% if post.categories contains 'songs' %}
    	<tr>
		<td>{{ counter }}</td>
		<td><a href="{{ post.url }}">{{ post.name }}</a></td>
		<td>
		{% if post.album %}
			{% if post.album_url %}
				<a href="{{ site.baseurl }}{% link post.album_url %}">
					{{ post.album }}
				</a>
			{% else %}
				-
			{% endif %}
		{% else %}
			-
		{% endif %}
		</td>
		<td>
		{% if post.download %}
			<a href="{{ post.download }}">тыц</a>
		{% else %}
			-
		{% endif %}
		</td>
		<td>{{ post.length }}</td>
		</tr>
		{% assign counter = counter | plus: 1 %}
	{% endif %}
{% endfor %}
</table>
<br>
<hr>
<br>
<h2>Для энтузиастов</h2>
Если захотите поковыряться в исходниках, то заходите: <a href="https://cloud.mail.ru/public/B2Ej/u15BmJFEX">ТЫЦ</a>.<br>
Песни поделены на альбомы. Отдельные композиции — это творчество Rinon Ninqueon.<br>
Учтите, что для работы вам понадобится как минимум Ardour. Из плагинов в основном Calf, Tap, Guitarix, GVST. Возможно, что-то ещё, но история это умалчивает.<br>