---
layout: default
emptyArray: []
---
<h1>{{ page.title }}</h1>
<a href="/img/albums/{{ page.image }}" class="thumbnail" target="_blank">
	<img src="/img/albums/preview/{{ page.image }}" width="256px" alt="{{ page.title }}"/><br>
</a>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<center>
					<h3 id="current-song-id">{{ page.title }}</h3>
				</center>
			</div>
			<div class="panel-body">
				<center>
					<audio preload="none"></audio>
					<br>
	<table class="table table-hover">
	<tr>
	<th>#</th>
		<th>Название</th>
		<th>Слушать</th>
		<th>Длительность</th>
	</tr>
	
	{% assign counter = 1 %}
	{% assign album_song_list = page.emptyArray %}
	{% assign items = site.posts | sort: 'title' %}
	{% for post in items %}
		{% if post.categories contains 'songs' %}
			{% if post.albums %}
				{% for alb in post.albums %}
					{% if alb.album == page.name %}
						{% assign album_song_list = album_song_list | push "" %}
						{% assign album_song_list[counter].album = alb.album %}
						{% assign album_song_list[counter].song = post %}
						<tr>
						<td align="center">{{ counter }}</td>
						<td><a href="{{ post.url }}">{{ post.name }}</a></td>
						<td class="gruppa-media-url-td" align="center">
						{% if post.download and post.download != '' %}
							{% for dnl in post.download %}
								<div data-src="{{ dnl.url }}" class="gruppa-media-url" alt="{{ post.name }}">
									{{ dnl.name }}
								</div>
								{% if forloop.last == false %}
									&nbsp;
								{% endif %}
							{% endfor %}
						{% else %}
							-
						{% endif %}
						</td>
						<td align="center">
							{% if post.length %}
								{{ post.length }}
							{% else %}
								-
							{% endif %}
						</td>
						</tr>
						{% assign counter = counter | plus: 1 %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endif %}
	{% endfor %}
	</tr>
	</table>
	{{ album_song_list | size }}
	<script>
	$(document).ready(function()
	{
		console.log("ready");
		var audio = audiojs.createAll()[0];
		console.log("created");
        $('div.gruppa-media-url').click(function(e)
		{
          e.preventDefault();
		  $('div.gruppa-media-url').removeClass('playing');
          $(this).addClass('playing');
          audio.load($(this).attr('data-src'));
          audio.play();
		  var cur = "Сейчас играет: \"" + $(this).attr("alt") + "\"";
		  $("#current-song-id").html(cur);
        });
	});
    </script>
				</center>
			</div>
		</div>
	</div>
</div>
<p class="meta">{{ page.date | date_to_string }}</p>
<hr>
<h1>{{ page.name }}</h1>
<div class="post">
{{ content }}
</div>
