---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

{% assign filtered_posts = site.posts | where: "categories", "comics" %}
{% assign filtered_posts = filtered_posts | where_exp:"item", "item.series_name == page.series_name" %}
{% assign sorted_posts = filtered_posts | sort: "chapter" %}

<div class="post">
	<div class="fotorama" id="comics-gallery" data-nav="thumbs" data-allowfullscreen="native" data-keyboard="true" data-width="50%" data-minwidth="400" data-maxwidth="100%" data-minheight="300" data-maxheight="100%" data-hash="true">

{% for post in sorted_posts %}
	{% assign first_image = 1 %}
	
	{%- for image in site.static_files -%}
		{%- if image.path contains post.image_path -%}
			{%- unless image.path contains 'thumbs' -%}
				&nbsp;<a href="{{ image.path }}" data-caption="Глава {{post.chapter}}" {% if first_image == 1 %} id="chapter{{ post.chapter }}" {% assign first_image = 0 %}{% endif %}>
				<img src="{{'/' | append: post.image_path | append: '/' | append: image.name }}"></a>
			{%- endunless -%}
		{%- endif -%}
	{%- endfor -%}

{%- endfor -%}
	</div>
	
	<div class="chapters-buttons" style="margin-bottom: 20px;">
		{% assign current_global_index = 1 %}
		
		{% for post in sorted_posts %}
			<button type="button" class="btn btn-primary goto-chapter-btn" data-slide-index="chapter{{ post.chapter }}">
				Глава {{ post.chapter }}
			</button>
		{% endfor %}
	</div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var $fotoramaDiv = $('#comics-gallery').fotorama();
    var fotorama = $fotoramaDiv.data('fotorama');

    $('.goto-chapter-btn').on('click', function() {
      var slideIndex = $(this).data('slide-index');
      fotorama.show(slideIndex);
    });
  });
</script>