<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
	<title>Document</title>
</head>
<body>
	<nav class="navbar navbar-fixed-top">
		<div>
		<ul class="nav navbar-nav">
			<li class="activ">Главная</li>
			<li>Песни</li>
			<li>Участники</li>
			<li>О группе</li>
			<li>Ссылки</li>
		</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1>Заголовок</h1>
				</div>
				<button class="btn btn-default">аба</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">Контент</div>
			<div class="col-md-4">
				<div class="sidebar">
					Сайдбар
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
				Подвал
			</div>
		</div>
	</div>
</body>
</html>