<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/theme.css">
	<script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
	<title>{{page.title}}</title>
	<meta name="description" content="{{page.description}}" />
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
		    <div class="navbar-header">
				<button type="button" href="" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
          <a class="navbar-brand" href="/">Главная</a>
        </div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/songs">Песни</a></li>
					<li><a href="/albums">Альбомы</a></li>
					<li><a href="/video">Видео</a></li>
					<li><a href="/about">О группе</a></li>

				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<div class="header">Группа "Группа" — новосибирская жанр-группа</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				
				{{ content }}
				<br><br>
				    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'muzgruppa'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Пожалуйста, включите <i>JavaScript</i> чтобы увидеть <a href="http://disqus.com/?ref_noscript">комментарии на системе Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">комментарии от <span class="logo-disqus">Disqus</span></a>
    
			</div>
			<div class="col-md-4">
				<div class="sidebar">
					<div class="panel panel-default">
						<div class="panel-heading">Новости</div>
						<div class="panel-body">
							<script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script><!-- VK Widget --><div id="vk_groups"></div><script type="text/javascript">VK.Widgets.Group("vk_groups", {mode: 2, width: "260", height: "400"}, 15903551);</script>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">Соц-сети</div>
						<div class="panel-body">
							<a href="https://twitter.com/muzgruppa">TW</a> <a href="http://www.youtube.com/user/muzgruppa">YT</a> <a href="https://www.facebook.com/muzgruppa">FB</a> <a href="https://plus.google.com/117792697939116450623" rel="publisher">Google+</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<footer class="col-md-12">
				<div class="footer" style="float:left;margin:0;padding:0;border:0; background-color:#222222"><a  rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img align="bottom" alt="Лицензия Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a></div><div><span style="font-size:13px;vertical-align:super;line-height:5%">Материалы сайта, для которых не указано иное, доступны по  <a style="vertical-align:baseline;line-height:inherit" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.ru">лицензии Creative Commons «Attribution-ShareAlike» («Атрибуция — На тех же условиях») 4.0 Всемирная</a>.</span></div>
			</footer>
		</div>
	</div>
	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23529046 = new Ya.Metrika({id:23529046,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23529046" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
