<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
	<title>{{page.title}}</title>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Главная</a></li>
					<li><a href="/songs">Песни</a></li>
					<li><a href="/albums">Альбомы</a></li>
					<li><a href="/video">Видео</a></li>
					<li><a href="/about">О группе</a></li>

				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1>Группа "Группа" — новосибирская жанр-группа</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				
				{{ content }}
			</div>
			<div class="col-md-4">
				<div class="sidebar">
					<div class="panel panel-default">
						<div class="panel-heading">Новости</div>
						<div class="panel-body">
							<a class="twitter-timeline" height="500" href="https://twitter.com/muzgruppa" data-widget-id="402088843060326400" lang="ru">Твиты пользователя @muzgruppa</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
							</script>
						</div>
					


				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
				Подвал
			</div>
		</div>
	</div>
	<script src="assets/js/jquery.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>