---
layout: default
---
<h1>{{ page.name }}
{% if page.albums %}
	из&nbsp;
	{% for alb in page.albums %}
		{{ alb.album }}
		{% if forloop.last == false %}
			,&nbsp;
		{% endif %}
	{% endfor %}
{% endif %}
</h1>
{% if page.download and page.download != '' %}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<center>
					<h3 id="current-song-id">{{ page.name }}</h3>
				</center>
			</div>
			<div class="panel-body">
				<center>
					<audio preload="none"></audio>
					<br>
	<table class="table table-hover">
	<tr>
	<th scope="row">Версии:</th>
	{% for dnl in page.download %}
		<td>
		<div data-src="{{ dnl.url }}" class="gruppa-media-url" alt="{{ page.name }}">
			<span class="span_play_button">&#9654;</span>
			<span class="span_pause_button">&#10074;&#10074;</span>
			&nbsp;{{ dnl.name }}
		</div>
		{% if forloop.last == false %}
			&nbsp;
		{% endif %}
		</td>
	{% endfor %}
	</tr>
	</table>
	<script src="/assets/js/player.js"></script>
				</center>
			</div>
		</div>
	</div>
</div>
{% endif %}
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>
